
.wrapper{
    background-color:#fff;
}
::-webkit-input-placeholder,
::-ms-input-placeholder,
::-moz-input-placeholder{
    color: #B7B7BD;
}

.eye{
    right: 30px;
    top: 30px;
    position: absolute;
    width: 46px;
    height: 24px;
    background: url('../assets/eye_close@2x.png') center center no-repeat;
    background-size: 100% 100%;
}
.eye.open{
    background: url('../assets/eye_open@2x.png') center center no-repeat;
    background-size: 100% 100%;
}


.close{
    right: 30px;
    top: 30px;
    position: absolute;
    background:url('../assets/x@2x.png') center center no-repeat;
    width: 28px;
    height: 28px;
    background-size: 100% 100%;
}


.container{
    /*margin: 0 auto;*/
}

#dialog{
    z-index: 9999;
    top: 0;
    left:0;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}
#dialog .mark{
    position: absolute;
    z-index: 0;
    display: inline-block;
    width: 440px;
    height: 120px;
    margin-top: -60px;
    margin-left: -220px;
    top: 50%;
    left: 50%;
    background: #000;
    opacity: 0.7;
    filter:alpha(opacity=70);
    border-radius: 10px;
    padding:10px;
}
#dialog .text{
    position: absolute;
    z-index: 1;
    text-align: center;
    top:50%;
    left: 50%;
    width: 440px;
    height: 120px;
    line-height: 120px;
    margin-top: -60px;
    margin-left: -220px;
    color:#fff;
    border-radius:10px;
    padding:0 10px;
    font-size: 24px;
}
#dialog.download .mark{
    width: 600px;
    height: 276px;
    margin-left: -300px;
    margin-top: -138px;
    opacity: 0.75;
    filter:alpha(opacity=75);
    border-radius: 15px;
}
#dialog.download .text{
    width: 600px;
    height: 276px;
    margin-left: -300px;
    margin-top: -138px;
    line-height: normal;
    font-size: 28px;
}
#dialog.download .text .desc{
    margin-top: 60px;
    margin-left:auto;
    margin-right: auto;
}
#dialog.download .text .btn{
    cursor: pointer;
    margin-top: 40px;
    border:none;
    width: 520px;
    height: 92px;
    line-height: 92px;
    text-align: center;
    border-radius: 9px;
    background-color: #ff7f01;
    display: inline-block;
    color: #fff;
}

.dialog-bg{
    position: fixed;
    z-index: 99;
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.8);
}
.dialog-code{
    width: 600px;
    height: 350px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    z-index:100;
    margin:auto;
    top:50%;
    left:50%;
    margin-left: -300px;
    margin-top: -175px;
}

.dialog-code .dialog-title{
    line-height: 70px;
    height: 70px;
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
}

.dialog-content{
    width: 550px;
    margin: 0 auto;
    line-height: 80px;
    padding-top: 40px;
    overflow: hidden;
}
.dialog-content input{
    line-height: 80px;
    height:80px;
    width: 280px;
    line-height: 80px;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    text-indent: 5px;
}

.dialog-content img{
    width: 240px;
    height: 80px;
    float: right;
    margin-left: 20px;
    border: 1px solid #ccc;
}
.dialog-btn {
    padding-top: 60px;
    width: 600px;
    margin: auto;
}
.dialog-btn button{
    display: inline-block;
    width:200px;
    height: 80px;
    margin-left: 60px;
    background-color: #07F;
    border: none;
    color: #fff;
    border-radius: 40px;
}

.banner{
    text-align: center;
    width: 100%;
}
.banner img{
    width: 100%;
}
.register{
    width: 602px;
    margin:39px auto 0;
}
.field-input{
    vertical-align: middle;
    position: relative;
    border:1px solid #e5e6e5 /*no*/;
    margin-bottom: 21px;
    height: 88px;
    line-height: 88px;
    border-radius: 44px;
}
.input-label{
    font-size: 28px;
    margin-left: 29px;
}
.input-code{
    right: 20px;
    top: 20px;
    font-size: 28px;
    width: 195px;
    height: 50px;
    line-height: 45px;
    border-radius: 23px;
    color:#fff;
    background-color: #0078ff;
    position: absolute;
    z-index: 1;
    display: inline-block;
    border: none;
    outline: none;
}
.input-code:disabled{
    background-color: #d8d8d8;
}
.input-item{
    width: 400px;
    height: 38px;
    line-height: 38px;
    margin-top: -8px;
    color: #b8b7bd;
    font-size: 24px;
}
.input-item.placeholder{
    color: #B7B7BD;
}
.input-label-invitor{
    margin-left: 20px;
}

.icon{
    float: left;
    position: relative;
    display: inline-block;
}
.icon-phone{
    margin-left: 37px;
    margin-top: 22px;
    width: 29px;
    height: 44px;
    background: url('../assets/phone.png') no-repeat 0 0;
    background-size: 29px 44px;
}

.icon-code{
    margin-left: 33px;
    margin-top: 24px;
    width: 35px;
    height: 42px;
    background: url('../assets/code.png') no-repeat 0 0;
    background-size: 35px 42px;
}

.icon-password{
    margin-left: 36px;
    margin-top: 22px;
    width: 33px;
    height: 41px;
    background: url('../assets/password.png') no-repeat 0 0;
    background-size: 33px 41px;
}
.icon-invitor{
    margin-left: 28px;
    margin-top: 21px;
    width: 45px;
    height: 43px;
    background: url('../assets/invitor.png') no-repeat 0 0;
    background-size: 45px 43px;
}

.field-text{
    text-align: center;
    font-size: 23.75px;
    color: #333;
    display: block;
}
.field-text .content {
    margin-left: 15px;
}
.field-text a{
    color: #1A93CB;
}
.field-button{
    margin-top: 58px;
    width: 598px;
    height: 90px;
    font-size: 34px;
    border-radius:40px;
    border:none;
    color: #fff;
    background-color: #07F;
}
.footer{
    line-height: 1.59;
    margin-top: 59px;
    font-size: 24px;
    padding-bottom: 42px;
    overflow: hidden;
    color: #333;
    text-align: center;
}
.steps{
    width: 100%;
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.step-title{
    display: inline-block;
    text-align: center;
    width: 144px;
    font-size: 28px;

}
.step-subtitle{
    margin-top: 20px;
    width: 144px;
    font-size: 30px;
    display: inline-block;
    color: #07F;
    text-align: center;
}
.step-des{
    font-size: 20px;
    margin-top: 15px;
    color: #333;
}
.step-icon{
    margin-top: 28px;
    width: 144px;
    height: 144px;
    display: inline-block;
}
.steps .step{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.step-icon img{
    max-width: 100%;
}
.input-check{
    display: inline-block;
    width: 24px;
    height: 24px;
    position:relative;
}
.field-check{
    vertical-align: top;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    opacity: 0;
    filter:alpha(opacity=0);       /* IE */
    -moz-opacity:0;              /* 老版Mozilla */
    -khtml-opacity:0;              /* 老版Safari */
    opacity: 0;           /* 支持opacity的浏览器*/
}
.icon-check{
    position: absolute;
    z-index: 0;
    background-color: #07F;
    margin-top:4px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
}
.field-check:checked + .icon-check{
    background:url('../assets/checked.png') center center;
    background-size: 24px 24px;
}